:root {
    --primaryColor: rgb(255, 120, 47);
    --secondaryColor: rgb(243, 243, 243);
}

body{
    background: radial-gradient(ellipse at bottom,#1b2735 0%, #090a0f 100% );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;    
}

#stars{
    position: fixed; /* fixed para que ocupe toda la altura de forma dinámica*/
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.container1{
    /* margin: 0px auto 0 auto; */
    width: 700px;
    text-align: center;
    padding: 5px 20px 20px 20px;
    /* position: relative; */
    /* z-index: 10; */
    /* backdrop-filter: blur(5px); */
    /* background: rgba(255,255,255,0.1); */
    border-radius: 15px;
}


h1{
    color: var(--primaryColor);
    font-size: 50px;
    font-weight: 700;
}

p{
    color: var(--secondaryColor);
    font-size: 30px;
}

/* TOOLBAR ARROWS */

/* Toolbar plugin */
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}
.impress-enabled div#impress-toolbar.impress-toolbar-show {
    display: block;
}
.impress-enabled div#impress-toolbar.impress-toolbar-hide {
    display: none;
}