:root {
    --primaryColor: #fc3d21;
    --secondaryColor: rgb(243, 243, 243);
    --thirdColor: #0b3d91;
}

@font-face {
    font-family: 'Univia';
    src: url("../font/UniviaPro-Regular\ 400.otf") format("opentype");
}

@font-face {
    font-family: 'Univia';
    font-weight: bold;
    src: url("../font/UniviaPro-Regular\ 400.otf") format("opentype");
}

body{
    font-family: 'Univia';
    background: radial-gradient(ellipse at bottom,#1b2735 0%, #090a0f 100% );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;    
}

#stars{
    position: fixed; /* fixed para que ocupe toda la altura de forma dinámica*/
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.container1{
    /* margin: 0px auto 0 auto; */
    width: 700px;
    text-align: center;
    padding: 5px 20px 20px 20px;
    /* position: relative; */
    /* z-index: 10; */
    /* backdrop-filter: blur(5px); */
    /* background: rgba(255,255,255,0.1); */
    border-radius: 15px;
}

.box{
    width: 700px;
    padding: 30px;
}

h1{
    color: var(--primaryColor);
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

h2{
    color: var(--thirdColor);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.font2{
    font-size: 50px;
} 

.font3{
    font-size: 35px;
} 

.font4{
    font-size: 25px;
} 

.font4{
    font-size: 20px;
} 

/* Impares */
.box:nth-child(odd){
    width: 1000px;
    text-align: left;
    font-size: 20px;
    padding: 30px;
}

/* Pares */
.box:nth-child(even){
    width: 650px;
}

/* TOOLBAR ARROWS */

/* Toolbar plugin */
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}
.impress-enabled div#impress-toolbar.impress-toolbar-show {
    display: block;
}
.impress-enabled div#impress-toolbar.impress-toolbar-hide {
    display: none;
}

/* Oscilación Smooth */
.smooth {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100px); }
}

/* Coloritos Aurora Boreal */
.cambioColorVerde{
    color: white;
    animation: example 2s alternate ease-in-out infinite;
}
@keyframes example {
    from {color: white;}
    to {color: lawngreen;}
  }

.cambioColorRojo{
    color: white;
    animation: example2 3s alternate ease-in-out infinite;
}
@keyframes example2 {
    from {color: white;}
    to {color: red;}
  }

.cambioColorAzul{
    color: white;
    animation: example3 1s alternate ease-in-out infinite;
}
@keyframes example3 {
    from {color: white;}
    to {color: blue;}
  }

.cambioColorPurpura{
    color: white;
    animation: example4 2.5s alternate ease-in-out infinite;
}
@keyframes example4 {
    from {color: white;}
    to {color: purple;}
  }